body {
    background-color: black;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-gutter: stable both-edges;
    overflow-x: hidden;
    font-family: 'Tahoma', sans-serif;
    z-index:0;
    
}


#period {
    position:fixed;
    width:100vw;
    height:5vh;
    background-color: #362A2C;
    top:0;
    left:0;
    z-index:2;
}

#fill-color {
    position:fixed;
    background-color: #EAC485;
    height:5vh;
    top:0;
    left:0vw;
    z-index:3;

   width: calc(var(--scroll)*100vw);
   -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;

}
#year {
    left:0;
    top:0;
    position: fixed;
    color:white;
    z-index:4;
    font-size: 4vh;
}
#year::after {
    z-index:4;
    content:var(--scroll);
}


/*poate schimb display in fctie de ala? sau pun un minus la calc...*/


.title-sectiune {
    font-size: 10vh;
    left:50%;
    transform: translateX(-50%);
    position: relative;
    padding-left:2vw;
    padding-top:2vh;
    padding-right:2vw;
    
}
img {
    position: relative;
    object-fit: fill;
    align-self: center;
    height: 35vh;
    
    border-radius:10px;
    
    
}
.picture {
    border-radius:10px;
    position: relative;
    width: 100%;
    display:flex;
   justify-content: center;
   
    margin:2vw;
    padding-top:2vh;
    padding-bottom:2vh;
    padding-right:2vw;
    padding-left:2vw;

}


.info-box {
    border-radius:7px;
    position: relative;
    background-color: white;
    font-size:4vh;
    width: 90%;
    margin:2vw;
    padding-top:2vh;
    padding-bottom:2vh;
    padding-right:2vw;
    
}
.sectiune {
    
    height:140vh;
    width: 50vw;
    left:25vw;
    position:relative;
    border-radius: 10px;
    box-shadow: inset;
    margin:5vh;
    text-align: center;
}

.info, .pics {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
    margin-left: 10%;
    margin-right: 10%;
    transition: all 0.3s ease-in-out;
    position: relative;
    flex-wrap: wrap;
    
}
.info > .info-box {
    height: 54vh;
    flex-shrink: 0;
    width: 98%;
    padding:0%;
    padding-left:1%;
    padding-right: 1%;
    scroll-snap-align: start;
    
}

.pics > .picture {
    height: 50vh;
    flex-shrink: 0;
    
    width: 100%;
    padding:0%;
    scroll-snap-align: start;
}
.info > .info-box:target {
    transform: scale(0.8);
  }

.goti {
    background-color: #EAC485;
    color:#362A2C;
}
.huni {
    background-color: #AA857A;
    color:#362A2C;
}
.gepizi {
    background-color: #936435;
    color:#362A2C;
}
.avari {
    background-color: #81241F;
    color:#EAC485;
}
.slavi {
    background-color: #362A2C;
    color:#EAC485;
}
.unguri {
    background-color:#6C3D35;
    color:#EAC485;
}
.cumani {
    background-color:#B04130;
    color:#EAC485;
}

.pecenegi {
    background-color:#826E49;
    color:#362A2C;
}

.mongoli {
    background-color:#CB9C53;
}

.tatari {
    background-color:#EAC485;
}
.intro {
    font-family: sans-serif;
    color:white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}

.title {
    position:relative;
    font-size:10vh;
    top:50%; left:50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.final {
    font-size:7vh;
    position:relative;
    margin-right:5%;
    margin-right:5%;
    top:5vh;
    left:50%; 
    transform: translateX(-50%);
    text-align: left;
}
.subtitle {
    position:relative;
    top:50%; left:50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    font-size:5vh;
    
}
#bibliografie-titlu {
    top:0;
    margin:5vh;
    left:50%; 
    transform: translateX(-50%);
    text-align: center;
    position: relative;
}
.bibliografie{
    position: relative;
    font-size:5vh;
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap:0.2em;
    

}

.bibliografie-elements {
    position: relative;

    background-color: aliceblue;
    padding:0.3em;
    border-radius:10px;
   overflow: hidden;
    
}

a {
    color:black;
    text-decoration: none;
    
    position: relative;
    vertical-align: middle;
}



section {
    height: 100vh;
    width:100vw;
    color:black;
    background-color: aliceblue;
}




  
  .info::-webkit-scrollbar {
    display: none;
  }

  .pics::-webkit-scrollbar {
    display: none;
  }

  .slideLeft, .slideRight, .slideLeft2, .slideRight2, .slideLeft3, .slideRight3,.slideLeft4,.slideRight4,.slideLeft5,.slideRight5,.slideLeft6,.slideRight6,.slideLeft7,.slideRight7,.slideLeft8,.slideRight8,.slideLeft9, .slideRight9,.slideLeft10, .slideRight10,.slideLeft11, .slideRight11,.slideLeft12, .slideRight12,.slideLeft13, .slideRight13,.slideLeft14, .slideRight14,.slideLeft15, .slideRight15,.slideLeft16, .slideRight16,.slideLeft17, .slideRight17 {
    position: absolute;
    top: 45vh;
    transform: translateY(-50%);
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20%;
    font-weight: bold;
    width: 2.5vw;
    height: 50vh;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }

  .slideLeft2, .slideRight2, .slideLeft5, .slideRight5, .slideLeft7, .slideRight7, .slideLeft9, .slideRight9, .slideLeft11, .slideRight11,.slideLeft14, .slideRight14, .slideLeft16, .slideRight16{
    top:110vh;
  }


  
  .slideLeft, .slideLeft2, .slideLeft3, .slideLeft4, .slideLeft5, .slideLeft6, .slideLeft7,.slideLeft8,.slideLeft9,.slideLeft10,.slideLeft11,.slideLeft12,.slideLeft13,.slideLeft14,.slideLeft15,.slideLeft16,.slideLeft17 {
    margin-right: 10px;
    left:0.2em;
    background-image: url("right-arrow.svg");

  }
  
  .slideRight,.slideRight2, .slideRight3,.slideRight4,.slideRight5, .slideRight6 , .slideRight7,.slideRight8,.slideRight9,.slideRight10,.slideRight11,.slideRight12,.slideRight13,.slideRight14,.slideRight15,.slideRight16,.slideRight17  {
    margin-left: 10px;
    right: 0.2em;
    background-image: url("left-arrow.svg");

  }
  
  .slideLeft:hover, .slideRight:hover, .slideLeft2:hover, .slideRight2:hover,.slideLeft3:hover, .slideRight3:hover,.slideLeft4:hover, .slideRight4:hover,.slideLeft5:hover, .slideRight5:hover,.slideLeft6:hover, .slideRight6:hover,.slideLeft7:hover, .slideRight7:hover,.slideLeft8:hover, .slideRight8:hover,.slideLeft9:hover, .slideRight9:hover,.slideLeft10:hover, .slideRight10:hover,.slideLeft11:hover, .slideRight11:hover,.slideLeft12:hover, .slideRight12:hover,.slideLeft13:hover, .slideRight13:hover,.slideLeft14:hover, .slideRight14:hover,.slideLeft15:hover, .slideRight15:hover,.slideLeft16:hover, .slideRight16:hover,.slideLeft17:hover, .slideRight17:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .slideLeft:focus, .slideRight:focus,.slideLeft2:focus, .slideRight2:focus,.slideLeft3:focus, .slideRight3:focus,.slideLeft4:focus, .slideRight4:focus,.slideLeft5:focus, .slideRight5:focus,.slideLeft6:focus, .slideRight6:focus,.slideLeft7:focus, .slideRight7:focus,.slideLeft8:focus, .slideRight8:focus,.slideLeft9:focus, .slideRight9:focus,.slideLeft10:focus, .slideRight10:focus,.slideLeft11:focus, .slideRight11:focus,.slideLeft12:focus, .slideRight12:focus,.slideLeft13:focus, .slideRight13:focus,.slideLeft14:focus, .slideRight14:focus,.slideLeft15:focus, .slideRight15:focus,.slideLeft16:focus, .slideRight16:focus,.slideLeft17:focus, .slideRight17:focus {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .slideLeft:active, .slideRight:active,.slideLeft2:active, .slideRight2:active,.slideLeft3:active, .slideRight3:active,.slideLeft4:active, .slideRight4:active,.slideLeft5:active, .slideRight5:active,.slideLeft6:active, .slideRight6:active,.slideLeft7:active, .slideRight7:active,.slideLeft8:active, .slideRight8:active,.slideLeft9:active, .slideRight9:active,.slideLeft10:active, .slideRight10:active,.slideLeft11:active, .slideRight11:active,.slideLeft12:active, .slideRight12:active,.slideLeft13:active, .slideRight13:active,.slideLeft14:active, .slideRight14:active,.slideLeft15:active, .slideRight15:active,.slideLeft16:active, .slideRight16:active,.slideLeft17:active, .slideRight17:active {
    transform: translateY(-50%) scale(0.9);
  }

  .slide-transition {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .slide-transition.active {
    opacity: 1;
    transform: translateY(0);
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
        .sectiune {
            width:100vw;
            left:0;
            margin:0;
        }

        .info-box {
            font-size:3vh;
            height:60vh;
        }
        .slideLeft, .slideRight, .slideLeft2, .slideRight2, .slideLeft3, .slideRight3,.slideLeft4,.slideRight4,.slideLeft5,.slideRight5,.slideLeft6,.slideRight6,.slideLeft7,.slideRight7,.slideLeft8,.slideRight8,.slideLeft9, .slideRight9,.slideLeft10, .slideRight10,.slideLeft11, .slideRight11,.slideLeft12, .slideRight12,.slideLeft13, .slideRight13,.slideLeft14, .slideRight14,.slideLeft15, .slideRight15,.slideLeft16, .slideRight16,.slideLeft17, .slideRight17 {
            width:7vw;
            margin:1%;
        }
        .final {
            font-size:5vh;
        }
        .title {
            font-size :4vh;
        }

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .sectiune {
        width:100vw;
        left:0;
        margin-left:0;
        margin-right:0;
    }

    .info-box {
        font-size:3vh;
        height:60vh;
    }
    .slideLeft, .slideRight, .slideLeft2, .slideRight2, .slideLeft3, .slideRight3,.slideLeft4,.slideRight4,.slideLeft5,.slideRight5,.slideLeft6,.slideRight6,.slideLeft7,.slideRight7,.slideLeft8,.slideRight8,.slideLeft9, .slideRight9,.slideLeft10, .slideRight10,.slideLeft11, .slideRight11,.slideLeft12, .slideRight12,.slideLeft13, .slideRight13,.slideLeft14, .slideRight14,.slideLeft15, .slideRight15,.slideLeft16, .slideRight16,.slideLeft17, .slideRight17 {
        width:7vw;
        margin:1%;
    }
    .final {
        font-size:5vh;
    }
    .title {
        font-size :4vh;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .sectiune {
        width:100vw;
        left:0;
        margin:0;
    }
        .info-box {
            font-size:3vh;
            height:60vh;
        }
        .slideLeft, .slideRight, .slideLeft2, .slideRight2, .slideLeft3, .slideRight3,.slideLeft4,.slideRight4,.slideLeft5,.slideRight5,.slideLeft6,.slideRight6,.slideLeft7,.slideRight7,.slideLeft8,.slideRight8,.slideLeft9, .slideRight9,.slideLeft10, .slideRight10,.slideLeft11, .slideRight11,.slideLeft12, .slideRight12,.slideLeft13, .slideRight13,.slideLeft14, .slideRight14,.slideLeft15, .slideRight15,.slideLeft16, .slideRight16,.slideLeft17, .slideRight17 {
            width:7vw;
            margin:1%;
        }
        .final {
            font-size:5vh;
        }
        .title {
            font-size :4vh;
        }
}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
    .sectiune{
        width:100vw;
        left:0;
        margin:0;
    }
        .info-box {
            font-size:3vh;
            height:60vh;
        }
        .slideLeft, .slideRight, .slideLeft2, .slideRight2, .slideLeft3, .slideRight3,.slideLeft4,.slideRight4,.slideLeft5,.slideRight5,.slideLeft6,.slideRight6,.slideLeft7,.slideRight7,.slideLeft8,.slideRight8,.slideLeft9, .slideRight9,.slideLeft10, .slideRight10,.slideLeft11, .slideRight11,.slideLeft12, .slideRight12,.slideLeft13, .slideRight13,.slideLeft14, .slideRight14,.slideLeft15, .slideRight15,.slideLeft16, .slideRight16,.slideLeft17, .slideRight17 {
            width:7vw;
            margin:1%;
        }
        .final {
            font-size:5vh;
        }
        .title {
            font-size :4vh;
        }
}



@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    .sectiune {
        width:100vw;
        left:0;
        margin:0;
    }
        .info-box {
            font-size:3vh;
            height:60vh;
        }
        .slideLeft, .slideRight, .slideLeft2, .slideRight2, .slideLeft3, .slideRight3,.slideLeft4,.slideRight4,.slideLeft5,.slideRight5,.slideLeft6,.slideRight6,.slideLeft7,.slideRight7,.slideLeft8,.slideRight8,.slideLeft9, .slideRight9,.slideLeft10, .slideRight10,.slideLeft11, .slideRight11,.slideLeft12, .slideRight12,.slideLeft13, .slideRight13,.slideLeft14, .slideRight14,.slideLeft15, .slideRight15,.slideLeft16, .slideRight16,.slideLeft17, .slideRight17 {
            width:7vw;
            margin:1%;
        }
        .final {
            font-size:5vh;
        }
        .title {
            font-size :4vh;
        }
    }
  